BOT_TOKEN=8157457379:AAHR5bNO7PEWihDADWzgVVzdipwlHcqAPtw
BOT_API_KEY=REPLACE_WITH_SHARED_SECRET
MEMBERSHIP_CHECK_ENABLED=false
REQUIRED_CHAT_ID=
REQUIRED_CHAT_TITLE=Ruxshona Tort
REQUIRED_CHAT_INVITE_URL=
ERP_API_BASE_URL=https://api.ruhshonatort.com/api
BOT_STATE_FILE=./data/state.json
